* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

ul {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50rem;
  border: 1px solid #333;
  border-top: none;
  padding: 1rem;
}

li:first-child {
  border-top: 1px solid #333;
}

.list-header {
  display: flex;
  align-items: center;
}

img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.list-note {
  width: 30%;
}
